@use 'variables';

html {
    font-size: 62.5%;
    box-sizing: border-box;

}
*,
*:before,
*after {
    box-sizing: inherit;
}
body {
    font-family: variables.$fuente_principal;
    font-size: 1.6rem;
}

p {
    font-size: 2rem;
    color: variables.$negro;
}